**/.terraform/
**/.ssh/id_rsa**
**/terraform.tfstate
**/../terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
**/.ssh/known_hosts
**/.terraform.lock.hcl
**/istio_addons/
**/cluster.env
**/istio-token
**/hosts
**/mesh.yaml
**/root-cert.pem
**/cert_venv
**/vm_workload_config
**/.vscode
**/certbot_venv
**/generated_certs
*.tgz
**/helm-charts/**
**/install-iis_SSL_encrypted.ps1
**/certificate.pfx